html, body{
margin: 0;
padding: 0;
}
p{
text-align: justify;
}
#box{
width: 1000px;
height: auto;
margin: auto;
}
#header{
background-color: #6367FF;
padding: 20px;
}
#menubar{
background-color: #8494FF;
margin: auto;
}
.teksmenu{
text-decoration: none;
}
#konten{
padding: 20px;
}
#footer{
background-color: #C9BEFF;
padding: 20px;
}